* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: hsl(180, 29%, 50%);
    --clr-secondary: hsl(180, 14%, 20%);
    --clr-accent: hsl(180, 8%, 52%);
    --clr-bg: hsl(180, 52%, 96%);
    --clr-filter-tablets: hsl(180, 31%, 95%);
    --clr-job-bg: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

.container {
    background-color: var(--clr-bg);
}

.blue-bg {
    background: var(--clr-primary) url(../images/bg-header-mobile.svg) 0% 0% / 100% no-repeat;
    width: 100%;
    height: 155px;
}

.filter-box {
    flex-flow: row nowrap;
    align-items: center;
    padding: .7rem .5rem;
    background-color: var(--clr-job-bg);
    width: 85%;
    margin: -25px auto 0;
    border-radius: 8px;
    box-shadow: 0px 15px 25px -1px hsla(180, 25%, 65%, 0.438);
    display: none;
}

.filter-box.show {
    display: flex;
}

.filtered-skills {
    flex: 1 0 80%;
    display: flex;
    flex-flow: row wrap;
}

/* these classes will be created in javascript */
/* =============================== */
.filter {
    display: flex;
    justify-content: space-between;
    color: var(--clr-primary);
    border-radius: 4px;
    font-weight: 700;
    margin: .6rem 1rem;
    margin-right: .2rem;
}

.filter-name {
    padding: .5rem;
    background-color: var(--clr-bg);
    border-radius: 4px 0 0 4px;
}

.delete-btn {
    background: var(--clr-primary) url(../images/icon-remove.svg) center / 45% no-repeat;
    color: #ffffff;
    padding: .5rem 1rem;
    border-radius: 0 4px 4px 0;
}

.delete-btn:hover {
    background-color: var(--clr-secondary);
    cursor: pointer;
    color: var(--clr-job-bg);
}

/* ================================= */

.clear {
    color: var(--clr-secondary);
    font-weight: 700;
    flex: 1 0 20%;
    text-align: center;
}

.clear:hover {
    text-decoration: underline;
    color: var(--clr-primary);
    cursor: pointer;
}

.job-listings {
    padding: 12% 7% 7.5%;
}

.job {
    background-color: var(--clr-job-bg);
    box-shadow: 0px 15px 25px -1px hsla(180, 37%, 72%, 0.438);
    border-radius: 6px;
    padding: 1rem 1.5rem 0;
    position: relative;
}

.job:not(:last-of-type) {
    margin-bottom: 3rem;
}

.job:first-child,
.job:nth-child(2) {
    border-left: .5rem solid var(--clr-primary);
}

.job.hide {
    display: none;
}

.logo {
    position: absolute;
    top: -24px;
    left: 20px;
    width: 3rem;
}

.logo img {
    width: 100%;
}

.job-details {
    width: 100%;
    padding: 1.3rem 0 0;
}

.priority {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: .8rem;
    font-weight: 400;
}

.company {
    color: var(--clr-primary);
    font-weight: 700;
    margin-right: .5rem;
}

.priority span {
    color: var(--clr-job-bg);
    border-radius: 25px;
    padding: .5rem .6rem .3rem;
    text-transform: uppercase;
    margin-left: .5rem;
}

.priority span:first-of-type {
    background-color: var(--clr-primary);
}

.priority span:nth-of-type(2) {
    background-color: var(--clr-secondary);
}

.job-title {
    padding-top: .6rem;
    color: var(--clr-secondary);
}

.job-title:hover,
.job-title:focus {
    color: var(--clr-primary);
    cursor: pointer;
}

.job-title:focus {
    outline: 1px solid var(--clr-secondary);
}

.type-location {
    width: 100%;
    color: var(--clr-accent);
    padding-bottom: 1rem;
    font-size: .9rem;
}

.type-location span {
    font-size: 1.5rem;
    vertical-align: text-bottom;
}

.skills {
    width: 100%;
}

.skills ul {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid var(--clr-accent);
    padding: 1rem 0 0.5rem;
    color: var(--clr-primary);
    font-size: .9rem;
}

.skills li {
    list-style-type: none;
    padding: .5rem;
    background-color: var(--clr-bg);
    margin-right: 1em;
    margin-bottom: 1rem;
    font-weight: 700;
    border-radius: 4px;
}

.skills li:hover {
    background-color: var(--clr-primary);
    color: var(--clr-job-bg);
    cursor: pointer;
}

.attribution {
    font-size: 12px;
    text-align: center;
    padding: 1.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-weight: 700;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 1026px) {
    .blue-bg {
        background-image: url(../images/bg-header-desktop.svg);
        height: 140px;
    }

    .filter-box {
        width: 80%;
        padding: 2% 4%;
        margin-top: -45px;
    }

    .clear {
        text-align: right;
    }

    .job-listings {
        padding: 4% 10% 5%;
    }

    .jobs {
        padding: 5% 10%;
    }

    .job {
        display: grid;
        grid-template-columns: 85px 1fr 2fr;
        align-items: center;
        gap: 2rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
    }

    .job:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }

    .logo {
        position: initial;
        width: 100%;
        margin: 0 auto;
    }

    .type-location {
        padding-top: 0;
        /* padding-bottom: 0; */
    }

    .skills {
        width: auto;
        justify-self: end;
    }

    .skills ul {
        border: 0;
        flex-wrap: nowrap;
    }
}